html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif  !important;
}

.link {
  @apply text-blue-600 hover:text-blue-500 cursor-pointer underline
}

.hide_scroll_bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide_scroll_bar::-webkit-scrollbar { display: none; }

.underLine {
  @apply  after:content-[""] flex-col flex  after:w-full after:h-[2px] after:rounded-lg after:bg-blue-600
}

.hover-animation-card {
  @apply relative z-[1] after:content-[""] after:absolute
  after:bottom-0 after:left-0 after:w-full after:rounded-t-lg after:h-full
  after:scale-y-0 after:origin-bottom after:bg-gradient-to-r from-cyan-500 to-blue-500 after:z-[-1]
  after:transition-all after:duration-300 after:ease-in-out hover:after:rounded-md hover:after:scale-y-[1];
}



@tailwind base;
@tailwind components;
@tailwind utilities;
